.expense {
    color: rgb(148, 134, 134);
    margin: 0.5rem 1rem;
    background-color: #ffffff;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.expense:hover {
    cursor: pointer;
}

.btn {
    background-color: black;
    border: none;
    color: white;
    font-family: inherit;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.btn:hover {
    cursor: pointer;
    border-radius: 0.25rem;
    transform: scale(0.98);
}
