.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-label {
    margin-right: 2rem;
}

.filter-data-item {
    padding: 1rem;
    background-color: red;
}
