html {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f4f5f7;
}
.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    background-color: #f4f5f7;
}
